.headline{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.list{
    display: flex;
    justify-content: center;
}
.item{
    background-color: pink;
    flex: none;
    width: 280px;
    margin: 10px;
}
.desktop-menu{
    text-align: center;
        display: block;
}
.mobil-menu{
    text-align: center;
    display: none;
}
@media only screen and (max-width: 1000px){
.list{
    flex-wrap: wrap;
}
.item{
    width: 45%;
}
}
@media only screen and (max-width: 500px){
.item{
    width: 90%;
}
}
@media only screen and (max-width: 500px){
    .headline{
        font-size: 20px;
        
    }
    .desktop-menu{
        text-align: center;
            display: none;
    }
    .mobil-menu{
        text-align: center;
        display: block;
    }
  
    .item{
        width: 90%;
    }
    }
